html {
    box-sizing: border-box; /*no añade tamaño (ej px) al width o height con ej el padding o el border*/
}

body {
    display: flex;    
    justify-content: center; 
    background-color: burlywood;     
}

h2 {
    font-size: 250%;   
}

p {
    font-weight: bold;
}

.main_container {
    max-width: 1200px;
    width: 100%;   
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p {
    margin-left: 10px;
}

.header {
 display: flex; 
 background-color: rgb(37, 73, 128);
 border: 20px solid;
 padding: 10px;
 justify-content: space-around; 
 margin-top: 20px;
}








.caja_red {
    background-color: rgb(221, 72, 50);       
   
    line-height: center;    
    margin: 10px;
}

.nav { 
    width: 60%; /*ancho de columna roja central*/   
}  

 .social {  
    width: 20%; /*ancho de columna roja derecha*/  
}

.logo { 
    width: 20%;  /*ancho de columna roja izquierda*/    
} 

.caja_naranja {  
display: flex;  
background-color: rgb(255, 145, 0);
border: 20px solid;
border-top: none;
padding: 10px;
}

.banner {
    display: flex;    
    padding: 10px;
    margin: 10px;
    background-color: rgb(241, 241, 112);     
    width: 100%;  
    height: 60px;   
    align-items: center;  
    }
 
.contenido_global {
    display: flex;     
}

.contenido_left_global {    
    flex: 3;  /*ocupa el 60% del ancho disponible*/
    background-color: rgb(75, 68, 114);
    margin-top: 20px;
    border: 20px solid; 
    padding: 10px;   
} 

.contenido_left { 
 display: flex;  
 flex-wrap: wrap; 
} 

.article {
    background-color: rgb(40, 108, 211);   
    width: 46%;      
    margin: 10px;      
    justify-content: space-between;  
}

.navegacion {
    background-color: rgb(28, 151, 189);       
    align-content: center;  
    margin: 10px;      
}

.contenido_right_global {    
    flex: 0.75;
    background-color: rgb(209, 90, 90);
    margin-top: 20px;   
    border: 20px solid;  
    border-left: none;  
    padding: 10px;   
}

.contenido_right {
    display: flex;  
    flex-direction: column;         
}

.publicidad {
    background-color: rgb(241, 241, 112);    
    align-content: center;      
    margin: 10px;   
}

.caja_pie {
    background-color: rgb(228, 233, 144);
    border: 20px solid;   
    margin-top: 20px;    
    align-items: center; 
}

